<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">These Portfolios are all sites that I have created the code for, most are mimicks of real life application's functionality.</p>
    <p>
      <%= link_to 'Found Out More About Me', about_path, class: 'btn btn-secondary ghub' %>
      <%= link_to 'To Blogs', blogs_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>
