<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag 'porgrammer_photo.jpg', width: 300, alt: "profile image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-7">
        <p class="lead">Listed below is a link to my Github account, where you will find repositories for clones of real-life Ruby on Rails applications, a Gem that I have built and pushed to RubyGems.org, and more.  Also included is a button to my Contact Me Page. </p>
        <a href="https://github.com/AJKeeter" class="btn btn-lg ghub" target= "_blank" > GitHub </a>
        <a href="contact" class="btn btn-lg btn-secondary ghub">Contact Me</a>
          <button
              class="btn btn-lg btn-secondary ghub"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controller="jobHistory"
          >
           Languages Known
          </button>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
              Ruby on Rails
              HTML
              CSS & SCSS
              Javascript
              Vue.js
              Haml
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
