<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-5">
    <%= image_tag 'porgrammer_photo.jpg', width: 325, alt: "profile image" %>
  </div>

  <div class="col-md-7">
    <p class="lead">Listed below is a link to my Github account, where you will find repositories for clones of real-life Ruby on Rails applications, a Gem that i have built and pushed to RubyGems.org, and more.  Also included is a button to my Contact Me Page. </p>
    <a href="https://github.com/AJKeeter" class="btn btn-lg ghub" target= "_blank" > GitHub </a>
    <a href="contact" class="btn btn-lg btn-secondary ghub">Contact Me</a>
  </div>

</div>


