<div class="inner cover">
  <h1 class="cover-heading"> Welcome </h1>
  <p class="lead">My name is Alec Keeter. I'm a 25 year old developer based out of Maryland who has been training in specifically Ruby on Rails, HTML5, CSS & SCSS, JavaScript, and Vue.js. In my About Me page, I have referenced links to my Github repositories, so that you may follow my process of coding.</p>
  <p class="lead">
    <a href="<%= about_path %>" class="btn btn-lg btn-secondary">About Me</a>
  </p>
</div>
